

{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block heading %}

{% endblock %}

{% block content%}
        
            <br>
            <br>
        </p>
        <label for="catBreeds">Breed:</label>
        <select id="catBreeds">
            <option value="persian">Persian</option>
            <option value="siamese">Siamese</option>
            <option value="mainecoon">Maine Coon</option>
            <option value="ragdoll">Ragdoll</option>
            <option value="bengal">Bengal</option>
            <option value="sphynx">Sphynx</option>
            <option value="britishshorthair">British Shorthair</option>
            <!-- Add more options as needed -->
        </select>
        <br><br>
        <label for="dogAge">Age:</label>
        <select id="dogAge">
            <option value="puppy">Kitten</option>
            <option value="young">Young</option>
            <option value="Adult">Adult</option>
            <option value="senior">Senior</option>
        </select>
        <br><br>
        <label for="dogSpecies">Sex:</label>
        <select id="dogsex">
            <option value="Male">Male</option>
            <option value="Female">Female</option>

        </select>
        <br>
        <br>
        <label for="dogSize">Size:</label>
        <select id="dogSpecies">
            <option value="Small">Small</option>
            <option value="Medium">Medium</option>
            <option value="Large">Large</option>
            <option value="extra">Extra Large</option>

        <br>
        <br>

{% endblock %}