

{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block heading %}

{% endblock %}

{% block content%}
        
            <br>
            <br>

        <text align: right><a href = "search"> Begin your search here!</a>  -  <a href = "login">Log In</a></a></right>
        
        </p>
        <br>
        <br>
        <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-5c82318c-4c94-4964-9f86-19fba276e0e9" data-elfsight-app-lazy></div>

{% endblock %}



