

{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block heading %}

{% endblock %}

{% block content%}
            <br>
            <br>

            Please <a href = "http://www.paypal.com/user/OregonPetSearch">click here</a> to donate. All donations will be used to support this site and help hundreds of animals find homes!
            <br>
            <br>
            If you would rather donate toys, beds, food or other neccessary items, please visit the <a href="./shelters">Shelters Page</a> to contact the shelter and find out what items they need!
        </p>
        <br>
        <br>

{% endblock %}