

{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block heading %}

{% endblock %}

{% block content%}
<br>            
<br>

        <table border = 1 width = 90%>
            <tr>
                <td rowspan = "2" width = 50% style="text-align:center; font-size: 20px">
                    <b>Pet of the week!</b><p></p>
                    <center><img src = "https://www.multcopets.org/sites/default/files/styles/small/public/animal_photos/nid_90001-92500/90833_default_photo.jpg?itok=LTRoxjOb"></center>
                    <br>
                    <p>Heyo!! My name is Daisy and I am a 2 year old female Bully mix. I am a friendly pup with soft fur and spots like a cow. I love giving kisses and laying in cozy beds. I also have a lot of energy, and will need positive outlets to keep me mentally and physically stimulated. When I'm out for a walk, I tend to be neutral towards other dogs passing by. I have met a few different dogs here at the shelter, but was not so sure how I felt about them. I think at this time, being the only doggie in the home would be the best fit for me. I will always be ready to snuggle and watch movies with you, but also always be ready to go for a long walk. If you give me some love and attention, I'll give you lots of laid-back friendship in return! Please come meet me today :) </font></p>

                    <a href="https://www.multcopets.org/adoptable/291539">Click to Adopt!</a>
                </td>
                <td style="text-align:center; font-size:20px">
                    <b>News!</b>
                    <br>
                    Due to heavy snowstorms in Southern Oregon, many shelters are closing early or have reduced hours.
                    <br>
                    Please visit the <a href = "shelters">Shelters Page</a> to find contact information. Please call before going!
                    <br>
                    <br>
                    Many shelters are currently running a reduced adoption fee campaign. Multnomah County Animal Shelter has reduced adoption fees to 50%. 
                    <br>
                    <br>
                    Many shelters can supplies like food, bed, toys and more. 
                    <a href = "./shelter-donations">Click here</a> to find more information on how to donate to various shelters in need.
                </td>
            </tr>
        </table>
    {% endblock %}

    