

{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block heading %}

{% endblock %}

{% block content%}
        </p>
        <br>
        <br>
        <form method="post">
          <label for="username">Username</label>
          <input name="username" id="username" required>
          <label for="password">Password</label>
          <input type="password" name="password" id="password" required>
          <input type="submit" value="Register">
        </form>
        <br>
        <br>
        <br>
        <br>

        {% endblock %}

        
